Notebook to explore output of the app.

In [24]:
import pandas as pd

df = pd.read_csv('../data/nist_glossary.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13873 entries, 0 to 13872
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   term         13871 non-null  object
 1   link         13873 non-null  object
 2   abbrSyn      13871 non-null  object
 3   definitions  13873 non-null  object
dtypes: object(4)
memory usage: 433.7+ KB

In [25]:
# get nulls
df.isnull().sum()

term           2
link           0
abbrSyn        2
definitions    0
dtype: int64

In [26]:
# get null terms
df[df['term'].isnull()]

,term,link,abbrSyn,definitions
8162,NaN,https://csrc.nist.gov/glossary/term/n_a,not applicable,not applicable: n a
8665,NaN,https://csrc.nist.gov/glossary/term/null,NaN,"dummy letter, letter symbol, or code group ins..."